

body{
   background: url(./images/Home.jpg) ; 
   background-size: 100% 100%;
   background-attachment: fixed;
   height: 300vh;

}
h1{
    font-size: 5rem;
    color: rgb(50, 34, 10);
    align-content: center;
   
}

.navbar{
    background: #faf8de;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
.navbar_links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #fce4e4;
    }
    .navbar_menu.active{
        background: #fce4e4;;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;

    }